%clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
      } 
}

%no-content-icon {
  content: '';
  border: 0;
}

%text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  %zero {
    margin: 0;
    padding: 0;
  }

  %bottom-line{
    &:after { //title底下裝飾
      display: block;
      width: 100px;
      margin: 5px auto;
      content: "";
      border-bottom: 3px solid #000;
    }
  }

  %mask{
    // @include gradient(rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%, vertical)
  }

