%them-JP {
  h1 {
    //carousel
    // color: map-get($colorGroup, "daintree");
    @include font-size($h1-font-sizes, "jp");
  }
  h2 {
    //main
    // color: map-get($mainContentGroup, "normal-color");
    @include font-size($h2-font-sizes, "jp");
  }
  h3 {
    color: map-get($colorGroup, "daintree");
    // @include font-size($h3-font-sizes, "jp");
  }
  h4 {
    color: map-get($colorGroup, "emperor");
    // @include font-size($h4-font-sizes, "jp");
  }
  h5 {
    // color: map-get($mainContentGroup, "color-blue");
  }
  p {
    letter-spacing: 1px;
    // color: map-get($colorGroup, "emperor");
    // @include font-size($p-font-sizes, "jp");
  }
  header {
    .menu {
      @include font-size($header-menu-font-size, "jp");
    }
  }

  footer {
    address {
      // @include font-size($footer-font-size-companeyName, "jp");
    }
    p {
      // @include font-size($footer-font-size-message, "jp");
    }
    ul {
      // @include font-size($footer-font-size-companeyName, "jp");
      a {
        // @include font-size($footer-font-size-companeyName, "jp");
      }
      li {
        a {
          // @include font-size($footer-font-size-privacy, "jp");
        }
      }
    }
    .footerPrivcy {
      @include font-size($footer-font-size-privacy, "jp");
    }
  }
}
