// 選單mobile按鈕
// example: @include ('rotate-x')
@mixin hamburger-style($type){
  @if $type == 'x'{
    &.hamburger {
      //按鈕轉換
      i {
        background-color: #fff;
        content: '';
        width: 100%;
        height: 2px;
        @include display(show);
        @include borderRadius(2px);
        @include transition(0.2s);
        &:nth-of-type(1) {
          @include transform(rotate(45deg));
          @include transform-origin(10px -3px);
        }
        &:nth-of-type(2) {
          margin: 6px 0;
          @include opacity(0);
        }
        &:nth-of-type(3) {
          @include transform(rotate(-45deg));
          @include transform-origin(2px 1px);
        }
      }
      &[aria-expanded="true"] {
        i {
          &:nth-child(1) {
            @include transform(rotate(0));
          }
          &:nth-child(2) {
            @include opacity(1);
            // margin-top: 4px;
          }
          &:nth-child(3) {
            @include transform(rotate(0));
            // margin-top: 4px;
          }
        }
      }
    }
  }
  @if $type == 'rotate-x'{
    &.__rotate-x {
      i{
          background-color: #fff;
          content: '';
          width: 100%;
          height: 2px;
          @include display(show);
          // @include borderRadius(1px);
          &:nth-child(1){
              @include animation(outT,0.8s,false,false,false,reverse,backwards);
          }
          &:nth-child(2){
              margin: 5px 0;
              @include animation(outM,0.8s,false,false,false,reverse,backwards);
          }
          &:nth-child(3){
              @include animation(outBtm,0.8s,false,false,false,reverse,backwards);
          }
        &:focus{
          outline:0;
        }
      }
      &[aria-expanded="true"]{
          i{
              &:nth-child(1){
                  @include animation(inT,0.8s,false,false,false,normal,forwards);
              }
              &:nth-child(2){
                  @include animation(inM,0.8s,false,false,false,normal,forwards);
              }
              &:nth-child(3){
                  @include animation(inBtm,0.8s,false,false,false,normal,forwards);
              }
          }
      }
  }
}

  @include keyframes (inM){
      50%{
          @include transform(rotate(0deg));
      }
      100%{
          @include transform(rotate(405deg));
      }
  }

  @include keyframes (outM){
      50%{
          @include transform(rotate(0deg));
      }
      100%{
          @include transform(rotate(405deg));
      }
  }

  @include keyframes (inT){
      0%{
          @include transform(translateY(0px) rotate(0deg));
      }
      50%{
          @include transform(translateY(7px) rotate(0deg));
      }
      100%{
          @include transform(translateY(7px) rotate(495deg));
      }
  }

  @include keyframes (outT){
      0%{
          @include transform(translateY(0px) rotate(0deg));
      }
      50%{
          @include transform(translateY(9px) rotate(0deg));
      }
      100%{
          @include transform(translateY(9px) rotate(495deg));
      }
  }

  @include keyframes (inBtm){
      0%{
          @include transform(translateY(0px) rotate(0deg));
      }
      50%{
          @include transform(translateY(-7px) rotate(0deg));
      }
      100%{
          @include transform(translateY(-7px) rotate(495deg));
      }
  }

  @include keyframes (outBtm){
      0%{
          @include transform(translateY(0px) rotate(0deg));
      }
      50%{
          @include transform(translateY(-7px) rotate(0deg));
      }
      100%{
          @include transform(translateY(-7px) rotate(495deg));
      }
  }
}

// button style: 一般按鈕樣式
// example: @include btn-style('full',$normalBgColor,$normalColor,$hoverBgColor,$hoverColor)
@mixin btn-style($btnStyle,$normalBgColor,$normalColor,$hoverBgColor,$hoverColor){
  @if $btnStyle == "full-0" {
    &.__full {
      letter-spacing: 1px;
      padding: 10px 15px;
      line-height: 1em;
      color:$normalColor;
      background:$normalBgColor;
      @include transition(.3s);
      @include borderRadius(0);
      &:hover{
        @include transition(.3s);
        background:$hoverBgColor;
        color:$hoverColor;
      }
    }
  }
  @if $btnStyle == "outline-0" {
    letter-spacing: 1px;
    color:$normalColor;
    padding: 10px 25px;
    @include borderRadius(0);
    @include border('false',1px,solid,$normalColor);
      &:hover{
        color:$hoverColor;
        background:$hoverBgColor;
      }
  }
  @if $btnStyle == "outline-1"{
    &.__outline {
      text-shadow: none;
      color:$normalColor;
      @include borderRadius(0);
      @include outline(1px, $normalBgColor, solid, 0px, $normalBgColor);
      @include box-shadow(0px, 0px, 20px, $normalBgColor, true);
      @include transition(all 1250ms cubic-bezier(0.19, 1, 0.22, 1));
      &:hover{
        text-shadow: 1px 1px 2px $normalColor; 
        color:$normalColor;
        @include outline(1px, transparent, solid, -15px, $hoverBgColor);
      }
    }
  }
  @if $btnStyle == "rounded" {
    &.__rounded {
      padding: 15px 25px;
      color:$normalColor;
      line-height: 1em;
      background:$normalBgColor;
      @include borderRadius(25px);
      &:hover{
        background:$hoverBgColor !important;
        color:$hoverColor !important;
      }
    }
  }
  @if $btnStyle == "rectangle-0"{
    &.__rectangle {
      width:100%;
      padding: 10px 15px;
      color:$normalColor;
      line-height: 1em;
      background:$normalBgColor;
      @include borderRadius(5px);
      &:hover{
        background:$hoverBgColor;
        color:$hoverColor !important;
      }
    }
  }
  @if $btnStyle == "rectangle-1"{
    &.__rectangle {
      width:100%;
      padding: 10px 15px;
      color:$normalColor;
      line-height: 1em;
      background:$normalBgColor;
      @include borderRadius(3px);
      &:after {
        background: white;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
      }
      &:hover{
        background:lighten($hoverBgColor,2.5%);
        color:$hoverColor !important;
        &:after {
          left: 120%;
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
  }
  @if $btnStyle == "rectangle-2"{
    &.__rectangle {
      width:100%;
      padding: 10px 15px;
      color:$normalColor;
      line-height: 1em;
      background:$normalBgColor;
      border: 1px solid $normalColor;
      @include borderRadius(5px);
      &:hover{
        background:$hoverBgColor;
        color:$hoverColor !important;
        border: 1px solid $hoverColor;
      }
    }
  }
}



// @include keyframes(bg_Scale){
//   0%{
//       @include transform(scale(.7));
//   }
//   100%{
//       color:$title-color;
//       @include transform(scale(.75));
//   }
// }